<style>
    div.modal-content {
        margin-top: 6%;
    }

    div.modal-dialog {
        width: 40%;
        height: 85%;
        margin-left: 30%;
        margin-right: 30%;
        padding: 0px;
    }

    div.modal-content {
        height: auto;
        border-radius: 0px;
    }
    .form-control option {
      text-align: center;
    }
</style>

<div class="hidden-xs modal-header model-header-color">
  <h3>Add user to Comp-Off Users List</h3>
</div>

<div class="modal-body" style="padding:25px 40px 40px;width:100%">
  <form name="searchUsers" class="form">
    <!-- <div class="form-group">
        <label style="font-weight:bold">Current Commission Rate for Comp-Off Users - <span>{{compOffCommissionRate}}%</span></label>
    </div> -->
    <div class="row">
      <div class="form-group">
        <div class="col-sm-8">
          <label class="control-label">Search User</label>
        </div>
        <div class="col-sm-4">
          <label class="control-label">Commission level</label>
        </div>
        <div class="col-sm-8">
          <input type="text" class="form-control" ng-model="searchedUser" required/>
        </div>
        <div class="col-sm-4">
          <select class="form-control" ng-model="selectedLevel">
            <option value="-1">Select level</option>
            <option value="1">Level 1 :: Packs - 1</option>
            <option value="2">Level 2 :: Packs - 100</option>
            <option value="3">Level 3 :: Packs - 200</option>
            <option value="4">Level 4 :: Packs - 400</option>
            <option value="5">Level 5 :: Packs - 1000</option>
            <option value="6">Level 6 :: Packs - 2000</option>
            <option value="7">Level 7 :: Packs - 4000</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" style="padding-top:15px">
      <div class="col-sm-12">
        <button type="button" ng-click="searchUser()" class="btn brown" ng-disabled="searchUsers.$invalid || submitted && !searchUsers.$error">Search</button>
        <button type="button" ng-click="closeallmodals()" class="btn btn-warning" aria-hidden="true">Cancel</button>
      </div>
    </div>
  </form>

  <p ng-if="userDetailError" style="padding-top:20px; color:red">{{userDetailError}}</p>

  <div class="row" ng-if="userDetail" style="padding-top:20px;">
    <div class="col-sm-12">
      <h3><strong>User Details</strong></h3>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <strong>System Id</strong>
      </div>
      <div class="col-sm-8">
        {{userDetail._id}}
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <strong>Name</strong>
      </div>
      <div class="col-sm-8">
        {{userDetail.name}}
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <strong>Email Id</strong>
      </div>
      <div class="col-sm-8">
        {{userDetail.email}}
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-4">
        <strong>Username</strong>
      </div>
      <div class="col-sm-8">
        {{userDetail.username}}
      </div>
    </div>
    <div class="col-md-12" style="padding-top:20px;">
      <button class="btn brown" style = "height : 42px" ng-click="addUserToCompOffList()">Add User to Comp-Off List</button>
    </div>
    <div class = "col-sm-12">
      <p ng-if="addCompoffError" style="padding-top:20px; color:red">{{addCompoffError}}</p>
      <p ng-if="addCompoffSuccess" style="padding-top: 20px; color: green">{{addCompoffSuccess}}</p>
    <div>
  </div>
</div>
