<div class="block block-condensed">
  <div class="app-heading app-heading-small">
    <div class="title">
      <p><a href="/dashboard">Dashboard</a> / Edit User Information</p>
    </div>
  </div>
  <div class="block-content">
    <h5 style="font-size: 20px; padding: 10px 0px;"> Edit User Information</h5>
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Username :</label>
        <div class="col-sm-10">
          <label class="control-label">{{userinfo.username}}</label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Name :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.name" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Email Address :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.email" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Mobile Number :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.mobile" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Address :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.address"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">State :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.state"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">City :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.city"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Country :</label>
        <div class="col-sm-10">
          <select name="country" class="form-control" ng-model="userinfo.countryName" mongoose-error ng-change="setCountryCode()">
                            <option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
                          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Pincode/Postal Code :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.pincode"></input>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Government Id/ Tax Id Number :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.govidtaxid" />
          <img ng-if="userinfo.personaldoc" ng-src="userinfo.personaldoc" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Account Name :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.accountname" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Account No :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.accountno" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Bank Name :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.bankname" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Branch :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.branch" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">IFSC Code :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control val" ng-model="userinfo.code" />
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">New Password :</label>
        <div class="col-sm-10">
          <input type="password" class="form-control val" ng-model="userinfo.password" />
        </div>
      </div>
      <div class="form-group pull-right">
        <button class="btn btn-danger btn-small" ng-click="cancel()">Cancel</button>
        <button class="btn brown btn-small" ng-disable="uploadDisable" ng-click="save()">Save</button>
        <div class="clearfix"></div>
      </div>
    </form>
    <div class="clearfix"></div>
  </div>
</div>