<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="page-content">
                <div class="portlet light margin-top-10">
                    <div class="portlet-title">
                        <div class="caption">
                            Top Users with highest earned commissions
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-4 pull-right">
                                <input type="text" ng-model="filter.data" name="filterdate" placeholder="Search Filter (Name, Username, And Email) " style="line-height : 30px; width : 100%"
                                />
                                <span style="margin-top: 0px;display: block;font-size: 0.85em;margin-bottom: 25px;">Filter based on name, user id and email</span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-stripped table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">System Id</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Email Id</th>
                                        <th class="text-center">Username</th>
                                        <th class="text-center">Earned Commission</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in commissionData | filter:filter.data">
                                        <td class="text-center">{{data._id._id}}</td>
                                        <td class="text-center">{{data._id.name}}</td>
                                        <td class="text-center">{{data._id.email}}</td>
                                        <td class="text-right">{{data._id.username}}</td>
                                        <td class="text-right">{{data.total | currency}}</td>
                                    </tr>
                                    <tr ng-if="commissionData.length == 0 && loadingContent == ''">
                                        <td colspan="5" class="text-center">
                                            <strong>No data found</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>