<!-- Purchase receipt thanks Modal Window -->
    <div class="modal-content">
      <div class="modal-header model-header-color">
        <h3>Thanks</h2>
        <button type="button" class="close close-button" ng-click="closeAllDialogs()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="col-sm-12 no-padding">
            Thank you. We will credit your coins as soon as your credit transfer is confirmed by our Payment partners.
          </div>
        <div class="clearfix"></div>
        <br>
        <div class="col-sm-12 no-padding text-center">
          <button type="button" class="btn brown" ng-click="closeAllDialogs();">Ok</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
<!-- Purchase receipt thanks Modal Ends -->
