<style>
.modal-dialog {
    margin: 20vh auto 0px auto
}
.modal.fade.adc-confirm-window {z-index: 999999999 !important;}
</style>

<!-- Transfer Coin Modal Starts -->
<div class="modal-content">
  <div class="modal-header model-header-color">
    <h3>USD Withdrawal Request</h2>
    <!-- <button type="button" class="close close-button" ng-click="closeAllDialogs()">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <form name="withdrawalRequest">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">USD Balance</label>
          </div>
          <div class="col-sm-7">
            {{usdBalance | currency}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Withdrawal Amount</label>
          </div>
          <div class="col-sm-7">
            {{withdraw.amount | currency}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Transfer Amount (BTC)</label>
          </div>
          <div class="col-sm-7">
            {{withdraw.btc}} BTC
          </div>
        </div>
      </div>
<!--       <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">Repurchased AdsCash</label>
          </div>
          <div class="col-sm-7">
            {{withdraw.adscash}}
          </div>
        </div>
      </div> -->
      <div class="form-group">
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">BTC Wallet Address</label>
          </div>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="address" placeholder="BTC Wallet Address" ng-model="withdraw.address" required/>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group" ng-if="enterWdOtp">
        <p style="color: green; font-size: 16px; padding-bottom: 12px;" ng-if="otpWdSentSuccess">{{otpWdSentSuccess}}</p>
        <p style="color: red; font-size: 16px; padding-bottom: 12px;" ng-if="otpWdSentError">{{otpWdSentError}}</p>
        <div class="row">
          <div class="col-sm-5">
            <label class="control-label">OTP</label>
          </div>
          <div class="col-sm-7">
            <input type="text" class="form-control" name="otp" placeholder="Enter OTP" ng-model="withdraw.otp" required>
            <span class="help-block" style='color: blue' ng-click="resendOtp('withdraw')">Resend OTP</span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group" style="margin-top:10px;" ng-class="{'has-error': withdrawalError != '', 'has-success': withdrawalSuccess != ''}">
        <div class="col-sm-12">
          <button type="submit" ng-if="!enterWdOtp" ng-click="generateAndSendOtp('withdraw', 'usd')" class="btn brown" ng-disabled="disableProcessWithdraw || withdrawalRequest.$invalid">Send OTP</button>
          <button type="submit" ng-if="enterWdOtp" class="btn brown" ng-click="processUSDWithdrawal(withdrawalRequest)" ng-disabled="disableProcessWithdraw || withdrawalRequest.$invalid" confirm="Are you sure to continue with withdrawal of {{withdraw.amount}} USD ?" confirm-settings="{windowClass: 'adc-confirm-window'}">Process Request</button>
          <button type="button" class="btn btn-default" ng-click="cancelUSDWithdrawal()" confirm="Do you want to cancel the transaction ?" confirm-settings="{windowClass: 'adc-confirm-window'}">
            Cancel
          </button>
          <p ng-if="withdrawalError != ''" class="help-block">{{withdrawalError}}</p>
          <p style="color:green" ng-if="withdrawalSuccess != ''" class="help-block"><strong>{{withdrawalSuccess}}</strong></p>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<!-- Transfer Coin Modal Ends -->
