<style>
  div.modal-content {
    margin-top: 150px;
  }
</style>

<div class="hidden-xs modal-header model-header-color">
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-6">
        <h3>
            <i class="fa fa-user-plus" aria-hidden="true" style="font-size:18px;"></i> My Sponsor Details
        </h3>
    </div>
    <!-- <button type="button" class="close close-button" data-dismiss="modal" aria-label="Close" ng-if="checkUserId" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button> -->
    <div class="col-lg-4 col-md-4 col-sm-6 pull-right" ng-if="!canSeeUserBackOffice && canSeeUserBackOffice !== false">
       <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()" style="position: relative;right: -15px;">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
</div>

<div class="visible-xs modal-header model-header-color" style="text-align:center">
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-6">
        <h3>
            <i class="fa fa-user-plus" aria-hidden="true" style="font-size:18px;"></i> My Sponsor Details
        </h3>
    </div>
</div>
<div class="modal-body" style="padding:25px 0 0;">
    <div class="col-lg-12" style="display:block;float:none;">
        <table class="table table-responsive">
            <thead></thead>
            <tbody>
            <tr class="even">
                <td>Username</td>
                <td>{{sponsor.username}}</td>
            </tr>
            <tr class="odd">
                <td>Full Name</td>
                <td>{{sponsor.name}}</td>
            </tr>
            <tr class="even">
                <td>Email ID</td>
                <td style="word-break: break-all">{{sponsor.email}}</td>
            </tr>
            <tr class="odd">
                <td>Contact Number</td>
                <td>{{sponsor.mobile}}</td>
            </tr>
            <tr class="even">
                <td>Country</td>
                <td>{{sponsor.country ? sponsor.country : sponsor.countryName}}</td>
            </tr>
            <tr class="odd" ng-show="userInfo.confirmSponsor == true">
                <td>Rank</td>
                <td>{{sponsor.rank}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
