<div class="block block-condensed">
    <div class="app-heading app-heading-small">
        <div class="title">
            <p><a href="/dashboard">Dashboard</a> / Portfolio Manager</p>
        </div>
    </div>
    <div class="block-content">
        <h5 style="font-size: 20px; padding: 10px 0px;">
            PORTFOLIO MANAGER
        </h5>
        <div class="container">
            <div class="block block-condensed padding-top-20">
                <div class="block-content">
                    <p class="text-center text-lg text-muted" style="font-size: 30px; padding-top: 50px;">Our Portfolio Managers are Experienced Investors, </p>
                    <h2 class="text-bolder heading-line-below heading-line-below-short text-center">traders with strong backgrounds in financial management and high track records of sustained success.</h2>
                    <div class="row pricing-tables">
                        <div class="col-md-4">
                            <div class="pricing-table" style="height: 750px">
                                <p align="center"><img src="assets/images/pm1.png" width="150" style="padding-top:20px;"></p>
                                <div class="title">Aggressive </div>
                                <div class="price" style="color: #f90;">Portfolio</div>
                                <div class="features" style="border-bottom:10px solid #f90; text-align: justify">
                                    <br><br> <span class="green">Details:</span> This Portfolio Manager is an aggressive trader. Focuses on Identifying emerging Cryptocurrencies. Invest in prolific crypto-coins/ICO's at reasonable price/ value. The objective of this strategy is to earn high-term fail-safe character through investing in extremely high-quality businesses with consistent and visible earning growth.
                                    <br><br> By this strategy, his account of 200 BTC is almost 600 BTC in the last 90 days.
                                    <br>
                                    <br><br>
                                    <div align="center">
                                        <h2>Estimated Value of Holdings</h2>
                                        <div class="divider"></div>
                                        <div class="col-md-6 col-sm-12" style="margin: 0px; padding: 0px;"><b style="font-size:16px;">USD = $956,572S</b></div>
                                        <div class="col-md-6 col-sm-12" style="margin: 0px; padding: 0px;"><b style="font-size:16px;"><i class="fa fa-btc" aria-hidden="true"></i> = 608</b></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table" style="height: 748px">
                                <p align="center"><img src="assets/images/pm2.png" width="165" style="padding-top:20px;"></p>
                                <div class="title">Aggressive Medium Term</div>
                                <div class="price" style="color: #1bd1dd;">Portfolio</div>
                                <div class="features" style="text-align: justify; border-bottom: 10px solid #1bd1dd;">
                                    <br><br> <span class="green">Details:</span> This Portfolio Manager is a balanced team player. Focuses on top-drawer earnings growth without capital dilution. Also looks for opportunities in the crypto-coin market. Invests in both long and high terms. Demonstrates high standards of governance, vision, execution, wisdom, and capital allocation and capital distribution skills. The portfolio aims to achieve an overall optimal blend.
                                    <br><br><br><br>
                                    <div align="center">
                                        <h2>Estimated Value of Holdings</h2>
                                        <div class="divider"></div>
                                        <div class="col-md-6 col-sm-12" style="margin: 0px; padding: 0px;"><b style="font-size:16px;">USD= $1,545,980</b></div>
                                        <div class="col-md-6 col-sm-12" style="margin: 0px; padding: 0px;">
                                            <b style="font-size:16px;"><i class="fa fa-btc" aria-hidden="true"></i> = 815.69</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table" style="height: 750px">
                                <p align="center"><img src="assets/images/pm3.png" width="160" style="padding-top:20px;"></p>
                                <div class="title">Long Term </div>
                                <div class="price" style="color: #92aa0a;">Portfolio</div>
                                <div class="features" style="border-bottom: 10px solid #92aa0a; text-align: justify">
                                    <br><br> <span class="green">Details:</span> This Portfolio Manager is a long term player. Focuses on long term trading and believe in long term buying and holdings. Generates safe, good, hefty, long term returns for the investors. It’s a Large opportunity that enables superior long-term earnings. Long-term, consistent and predictable earnings will lead to higher investment returns. Buy and Hold Strategy: The Portfolio shall focus on above philosophies and hold positions till value crystallization.
                                    <br><br><br>
                                    <div align="center">
                                        <h2>Estimated Value of Holdings:</h2>
                                        <div class="divider"></div>
                                        <div class="col-md-6 col-sm-12" style="margin: 0px; padding: 0px;">
                                            <b style="font-size:16px;">USD= $2,214,860</b></div>
                                        <div class="col-md-6 col-sm-12" style="margin: 0px; padding: 0px;">
                                            <b style="font-size:16px;"><i class="fa fa-btc" aria-hidden="true"></i> = 1142.69</b></div>
                                        <h3><b></b></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="block-content">
        <div class="row text-center" style="font-size: 18px;font-weight: bold">
            <br />
            <br />
            <br />
            <br />
            Coming Soon...
            <br />
            <br />
            <br />
            <br />  
            <br />
            <br />
        </div>
    </div> -->
</div>

<!--
  <div class="block-content">
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="filter.data" name="filterdate" placeholder="Search Filter (Name, Username, And Email) "
                                style="line-height : 30px; width : 100%" />
                            <span style="margin-top: 0px;display: block;font-size: 0.85em;margin-bottom: 25px;">Filter based on name and email</span>
                        </div>
                        <div class="col-md-2 pull-right">
                            <button class="btn brown" style="height : 42px" ng-click="loadPage()" ng-if="!isRefreshCall"> Search
                            </button>
                            <button class="btn brown" style="height : 42px" ng-click="loadBySearch()" ng-if="isRefreshCall"> Search
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <table class="table table-stripped table-hover table-bordered">
                            <thead style="border-top : 3px solid #d0d0d0">
                                <tr>
                                    <th>Email /<br>System Id</th>
                                    <th>Full Name</th>
                                    <th>Country</th>
                                    <th>Mobile</th>
                                    <th>Investment</th>
                                    <th>Return</th>
                                    <th>Max Earning Source</th>
                                    <th>Total Commission</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, user) in users" ng-class="(key%2==0 ? 'even' : 'odd')">
                                    <td>{{user.email}}<br>{{user._id}}</td>
                                    <td>{{user.name}}</td>
                                    <td>{{user.countryName}}</td>
                                    <td>{{user.mobile}}</td>
                                    <td>{{user.totalInvestment}}</td>
                                    <td>{{user.totalReturn}}</td>
                                    <td>{{user.maximumEarningSource}}</td>
                                    <td>{{user.totalCommission}}</td>
                                    <td><span ng-if="user.verified" class="text-success">Verified</span>
                                        <span ng-if="!user.verified" class="text-danger">Unverified</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td ng-if="!isSoloAddAdmin() && !canSeeUserBackOffice()" colspan="9">
                                        <ul uib-pagination items-per-page="25" ng-model="currentPage" total-items="totalPages" max-size="5" boundary-links="true"
                                            ng-change="loadPage()">
                                        </ul>
                                    </td>
                                    <td ng-if="!(!isSoloAddAdmin() && !canSeeUserBackOffice())" colspan="9">
                                        <ul uib-pagination items-per-page="25" ng-model="currentPage" total-items="totalPages" max-size="5" boundary-links="true"
                                            ng-change="loadPage()">
                                        </ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>-->