<style>
    div.modal-content {
        margin-top: 70px;
    }
    div.modal-dialog {
      width: 30%;
      height: auto;
      margin-left: 20%;
      margin-right: 20%;
      padding: 0px;
    }

    div.modal-content {
      height: auto;
      border-radius: 0px;
    }

    .large-width{
      min-width: 80% !important;
      /*width:50% !important;*/
      /*max-width:80% !important;*/
      margin: auto;
    }
    .coinImage {
      width: 200px;
    }
</style>

<div class="modal-header model-header-color">
    <div class="col-lg-8 col-md-8 col-xs-12 col-sm-6">
        <h3 style="margin-top:10px;">Confirmation</h3>
    </div>
</div>
<div class="modal-body" style="padding:25px;">
    <strong>Hey! Are you sure want to leave this page ?</strong>
    <br />
    <br />
    <div class="row" style="margin-bottom : 20px">
          <div class="col-md-6">
            <a class="btn brown pull-left" ng-click="allowStateChage()">Ok</a>
          </div>
          <div class="col-md-6 pull-right">
            <a class="btn brown pull-right" ng-click="closeModal()">Cancel</a>
          </div>
    </div>
</div>
