<div class="block block-condensed">
    <div class="app-heading app-heading-small">
        <div class="title">
            <h5 style="font-size: 20px; padding: 10px 0px;"> Affiliates Banners </h5>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-md-6">
                <p>The add, delete banner are restricted to users with the 'admin' role.</p>
            </div>
            <div class="col-md-6 pull-right">
                <a class="btn blue pull-right" role="button" ui-sref="admin.admin_affilatebanners">Upload Banner</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <br>
        <div class="clearfix"></div>
        <br><br>
        <div class="list-admin" style="overflow-x: auto;">
            <table datatable="ng" class="table table-stripped table-hover table-bordered table-responsive table-scrollable">
                <thead style="border-top : 3px solid #d0d0d0">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Size (width x height)</th>
                        <th>Image</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key, banner) in banners" ng-class="(key%2==0 ? 'even' : 'odd')">
                        <td>{{banner.id}}</td>
                        <td>{{banner.name}}</td>
                        <td>{{banner.width}} x {{banner.height}}</td>
                        <td><img width="{{banner.width}}px" height="{{banner.height}}px" ng-src="{{banner.image}}" /></td>
                        <td>{{banner.createdAt | date}}</td>
                        <td>
                            <table cellpadding="0" cellspacing="5" border="0">
                                <tr>
                                    <td>
                                        <a uib-tooltip="Delete" ng-click="deleteBanner(banner)" confirm="Are you sure, you want to delete this banner {{banner.name}} ?"
                                            confirm-settings="{windowClass: 'ci-confirm-window'}" class="trash">
                                                    <span class="fa fa-trash text-danger"></span>
                                                </a>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>