<div>

  <header class="letter-head">
    <div class="letter-header" style="">&nbsp;</div>
    <div class="letter-header-strip text-center">
      <h2>A word from the CEO</h2>
    </div>
  </header>

  <section class="letter-body">
    <h4>Hey All,</h4>
    <p>
      The Hack was un-expected (well... it always is :P) and exposed an entirely new paradigm of vulnerability to us. We understood that we were not just supposed to harden (increase security) our code and servers but also have to extend extra cautiousness towards the fact that there are third party tools like payment processors, etc.; integrated to our system that might be exploited. This realisation forced us to stop ongoing developments and put all our energy on hardening and optimising our code for third party integrations. Currently we are in the process of reviewing the entire code once again and fixing/optimising/rebuilding anything and everything that deals with a third party application.
    </p>
    <p>
      Apart from that, we had no plans to implement strict KYC in the first year of operations and hence there were no developments on that front. This hack event forced us to implement this feature immediately. We have started development from scratch and now we are on the verge of completing KYC module. It should be live anytime in the first half of next week.
    </p>

    <p>
      It took us a while to develop this feature because at Adscash we don't do anything just for the sake of doing it. We follow global coding standards and ethical practices, so to ensure that any document that our affiliates would upload, should be rightly encrypted from their browser window till our databases and beyond. Similar high standard practices were kept in place while developing this feature, so as to keep your personal data safe.
    </p>

    <p>
      Another dimension of KYC is human efforts. We understand that there will be a HUGE flow of KYC requests, as soon as we go live with it. After all, we are more than a 111,000 affiliates today :)<br/>
      It requires a lot of human effort for verification of document images and cross verification with government authorities as per the country of residence of the respective affiliates. We had to recruit heap of reps and train them for the entire process, which involved training on ethical KYC practices, Data security, Communications with Government Authorities, banking norms for KYC, and what not...<br/>
      Its a herculean task and you must be expecting it to take another 4 weeks to complete<br/>
      BUT<br/>
      Our super awesome core team has unbelievably executed it all by headhunting best professionals, who were already serving the same domain. They have structured the entire process in a way that all fresh recruits would process most of the tough job and they will just supervise to achieve the desired perfection !
    </p>

    <p>
      I would still request you to be patient after uploading your KYC details once the feature goes live, coz we'll have a whooping <strong>111,000 applications to process.</strong> To give you an idea, it takes a minimum of 5 minutes to complete just the documentary verification as if flows through multiple digital signatures of KYC Verification and Finance department (leave apart verification process that involves local Governments and authorities).<br/>
      Rest-assured, we'll do our best to complete it as fast as possible.
    </p>

    <p>
      So, this was what kept us from launching our gold product 'Facebook Share', which was scheduled to be live last week. Once things start settling and we get back on scheduled development, you'll start witnessing frequent product launches.<br/>
      Anyhow, we are back on track and with hell more SOLIDARITY.
    </p>

    <p>
      Long Live Adscash !!!
    </p>

    <p class="text-bold"><strong>Nick</strong></p>
  </section>

</div>


<div class="modal-footer letter-footer">
  <div>
    <button align="center" type="button" ng-click="notShowAgain()" class="btn btn-lg btn-info btn-xs dashboard-video-button">Click Here To Continue !!!  <i class="fa fa-times-circle-o" style="font-size:16px;color:#fff"></i>
    </button>

    <a align="center" type="button" ui-sref="userprofile" ng-click="notShowAgain()" class="btn btn-lg btn-info btn-xs dashboard-video-button" style="line-height:40px;margin-right:20px;">Proceed With KYC</a>
  </div>
</div>
