<style>.text-campaign input.form-control, .banner-campaign input.form-control{ width:92%;}</style>
<div class="col-md-12 col-sm-12 solo_ads_product" style="margin-top: 16px;">
  <div class="form-group">
    <div class="col-md-4 col-sm-12" style="display:inline; margin-left:0px; padding-left:0px;">
      <input  style="width:90%" type="text" class="form-control" ng-model="campaign.title" placeholder="Title" maxlength="50" required/>
      <span style="color:Red;right: 0;margin-top: -53px;float: right;">*</span>
    </div>
    <div class="col-md-4 col-sm-12 campaign-url" style="display:inline;margin-left:0px; padding-left:0px;">
      <input style="width:90%;margin-bottom: 0px !important;float: left;" id="fb-like-campaign-url"   type="text" class="form-control" ng-model="campaign.url" placeholder="Original URL"   ng-class="{'has-error': showErrorUrl}" ng-blur="validateIframeLoading()" required/>
      <div style="color:Red;right: 0;float: right;">*</div>
      <label class="labelcss"><sup>**</sup>www.facebook.com/* URL or the embed one with iframe tag</label>
      <div class="alert alert-danger palertcss" ng-show="showErrorUrl">{{errorMessageUrl}}</div>
    </div>

    <div class="col-md-4 col-sm-12 campaign-url" style="margin-top:-10px;">
      <h3 style="font-size:15px;" class="pull-left"><strong>Total : <i class="fa fa-database fa-gold" style="font-size:15px;"></i></strong></h3>
      <div class="col-md-8 col-sm-6 col-xs-7 form-group" style="margin-top:8px;">
        <input style="width:81%;margin-bottom: 0px !important;float: left;"  name="creditcoins"  ng-min="0" class="form-control" ng-max="{{credits.goldCoins}}" ng-model="campaign.credits"  ng-disabled="!canEditCredits" ng-class="{'has-error': showErrorCoins}" placeholder="Coins" ng-blur="validateCoins()"   required/>
        <p style="position: absolute;z-index: 999;" class="help-block clearfix col-sm-12"
           ng-show="(setfbsharecampaign.creditcoins.$error.max)" ng-if="setfbsharecampaign.creditcoins.$touched">
          Allowed maximum coins is {{credits.goldCoins}}.
        </p>
         <div style="color:Red;right: 0;float: right;">*</div>
        <div style="position: absolute;
    z-index: 999;top: 39px;" class="alert alert-danger" ng-show="showErrorCoins">{{errorMessageCoins}}</div>
      </div>
    </div>
<div class="clearfix"></div>
<hr style="margin-top:10px;">
  </div>
  <div class="col-sm-12 no-margin no-padding" style="display:inline;">
      <textarea style="resize:none;width:90%;float:left" type="text" class="form-control col-sm-12" ng-model="campaign.description"  placeholder="Description" maxlength="200" required></textarea>
       <div style="color:Red;right: 0;float:left;padding-left:5px">*</div>
    </div> <div class="clearfix"></div><hr>
  <div class="form-group ">
    <h3 style="font-size:15px;"><strong>Cost</strong></h3>
    <div class="col-md-4 col-sm-12 no-margin no-padding " style="display:inline;padding-right:7px;">
      <select class="form-control" ng-model="campaign.priority" style="margin-left:0px;width:100%;" ng-change="validateCoins()" ng-disabled="!canEditCredits">
        <!-- <option selected="selected" value="">Select Priority</option> -->
        <option ng-repeat="option in priorityOptions" value="{{option.key}}">{{option.name}}</option>
      </select>
            <label style="font-size:0.8em;"><sup>**</sup>Your current priority is gold Coins x {{campaign.priority}} (Default priority is gold Coins x 40)</label></br>
    </div>
    <!--div class="col-md-4 col-sm-12" style="display:inline;">
      <input type="number" min="0" max="60" step="10" class="form-control" ng-model="campaign.quality" placeholder="Campaign Quality"/>
    </div-->
    <!--<div class="col-md-4 col-sm-12" style="display:inline;margin-bottom:0px;" flow-init="{singleFile:true}" flow-file-added="imageFileInfo($file, $event, $flow)">
      <span class="btn btn-default" flow-btn><i class="fa fa-upload"></i> Upload Image</span>
      <a ng-if="campaign.imagepath && campaign.imagepath != ''" target="_blank" href="{{campaign.imagepath}}">View Image</a>
      <p ng-if="purchaseReceipt!='' && updateKey==key">{{purchaseReceipt}}</p>
    </div>-->
  </div>

  <div class="clearfix"></div><hr>
  <div class="form-group">
  <div class="col-md-12 col-sm-12 col-xs-12 no-margin no-padding">
    <button style="padding:5px 10px 10px 10px;" type="button" class="btn btn-default btn-primary btn-lg" ng-click="preview()" ng-disabled="(setfbsharecampaign.creditcoins.$error.max || setfbsharecampaign.$invalid || showErrorUrl || showErrorCoins)"> Preview </button>
    <!-- <span style="margin-left:20px;" class="alert alert-danger" ng-if="showError">
      {{errorMessage}}
    </span> -->
    <!--button class="gold-button-sm ">
      <i class="fa fa-database" style="color:#999 !important;"></i> Buy Now
    </button-->
  </div>
</div>
</div>
<style>


    .palertcss {
    position: absolute;
    z-index: 999;
    top:39px;
    }

@media only screen and (min-width: 517px) and (max-width: 767px) {
    .palertcss {
    position: absolute;
    z-index: 999;
    top:0px !important;
    }
}
@media only screen and (max-width: 516px) {
    .palertcss {
    position: absolute;
    z-index: 999;
    top:57px !important;
    }
    .labelcss
{
  font-size: 0.8em;
    float: right;
}

}
  .labelcss
{
  font-size: 0.8em;

}

</style>
