 <div class="app">
<section>
    <div class="page-head main-top-space row">
        <div class="col-md-4 col-md-offset-4">
            <div class="portlet box change-password-parlet">
                <div class="portlet-body change-password-parlet-body">
                    <div class="alert alert-info">
                        <h1>Change your password ?</h1><br>
                    </div>
                    <div class="" role="alert">
                        <div ng-if="!pleaseWait">
                        <!-- <div> -->
                            <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
                                <p class="help-block text-center"> {{ message }} </p>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" name="password" class="form-control" ng-model="user.password" ng-keyup="passStrength(user.password)" mongoose-error required />
                                    <p class="help-block" ng-show="strengthBar">
                                        <span ng-style="{'color':(minLength?'green':'red')}">
                                            <i class="fa" ng-class="{'fa-check-circle':minLength,'fa-times-circle-o':!minLength}" aria-hidden="true" ng-style="{'color':(minLength?'green':'red')}"></i>
                                            Min 8 characters.
                                        </span><br />
                                        <span ng-style="{'color':(alphaNum?'green':'red')}" style="color:{{alphaNum?'green':'red'}}">
                                            <i class="fa" ng-class="{'fa-check-circle':alphaNum,'fa-times-circle-o':!alphaNum}" aria-hidden="true" ng-style="{'color':(alphaNum?'green':'red')}"></i>
                                            Must be alphanumeric.
                                        </span>
                                    </p>
                                    <div class="row" ng-show="strengthBar">
                                        <div class="col-md-6">
                                            <div class="progress" style="height:10px;">
                                                <div class="progress-bar progress-bar-striped" ng-class="colorClass" role="progressbar" aria-valuenow="{{passwordLength}}" aria-valuemin="0" aria-valuemax="100" ng-style="{'width':passwordLength+'%'}">
                                                    <span class="sr-only">40% Complete (success)</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="pass-strength" style="font-weight:bold;">
                                                Strength :
                                                <span class="{{textColor}}">{{strength}} </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" name="cpassword" class="form-control" ng-model="user.cpassword" ng-keyup="verifyPassAndConfirmPass(); showMatchError()" mongoose-error required />
                                    <p class="help-block" ng-show="(form.cpassword.$error.required && submitted) || showMissmatchError">
                                        Password does not match.
                                    </p>
                                </div>
                                <button class="btn btn-lg btn-primary" ng-disabled="form.cpassword.$error.required || showMissmatchError || passError" type="submit" style="background-color:#2da7d6">Change Password</button>
                            </form>
                        </div>
                        <div ng-if="pleaseWait">
                            <p>{{inValidMessage}}</p>
                            <div>
                                <a href="/login" class="btn brown">Login</a>
                                <!-- <a href="/forget-password" class="btn btn-info">Forget password ?</a> -->
                                <a href="#" data-toggle="modal" data-target="#forgetPasswordModal" class="btn btn-info">Forget password ?</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>
</div>
<div class="clearfix"></div>
<!-- Lost your Password -->
<div class="modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Forgot Your Password? Really</h4>
            </div>
            <form class="form" name="form" ng-submit="forgetPassword(form)" novalidate>
                <div class="modal-body">
                    <p>Enter your email address below and we′ll send you instructions on how to change your password</p>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" name="fpemail" class="form-control" ng-model="fpemail" required id="exampleInputEmail1" placeholder="Email">
                        <p class="help-block" ng-show="form.fpemail.$dirty && form.fpemail.$error.required">
                            Email address is required
                        </p>
                        <p class="help-block" ng-show="form.fpemail.$dirty && form.fpemail.$error.email">
                            Enter valid email address
                        </p>
                    </div>
                </div>
                <p style="margin-left : 20px"> {{ message }} </p>
                <div class="modal-footer">
                    <button type="submit" class="btn brown" ng-disabled="form.$invalid">Get Reset Email</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="app" style="position: absolute;bottom: 0px;min-height:initial;">
    <footer ng-include="'app/dashboard/footer/footer.html'"></footer>
    <div class="clearfix"></div>
</div>
<div class="clearfix">
</div>
