<div class="app">
  <!--<header class="header header-nav col-sm-12" ng-include="'app/dashboard/header/header.html'"></header>-->
  <section>
    <div class="page-head main-top-space">
      <div class="col-sm-12">
        <div class="col-md-10 page-content">
          <div class="row">
            <div class="col-md-6 col-md-offset-4">
              <div class="portlet box">
                <div class="portlet-body">
                  <h2>Set your password</h2><br>
                  <div class="alert alert-warning" role="alert">
                    <div>
                      <form class="form" name="form" ng-submit="setPassword(form)" novalidate>
                        <p class="help-block text-center"> {{ message }} </p>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" name="password" class="form-control" ng-model="user.password" ng-keyup="passStrength(user.password)"
                            mongoose-error required />
                          <p class="help-block" ng-show="strengthBar">
                            <span ng-style="{'color':(minLength?'green':'red')}">
                                                            <i class="fa" ng-class="{'fa-check-circle':minLength,'fa-times-circle-o':!minLength}" aria-hidden="true" ng-style="{'color':(minLength?'green':'red')}"></i>
                                                            Min 8 characters.
                                                        </span><br />
                            <span ng-style="{'color':(alphaNum?'green':'red')}" style="color:{{alphaNum?'green':'red'}}">
                                                            <i class="fa" ng-class="{'fa-check-circle':alphaNum,'fa-times-circle-o':!alphaNum}" aria-hidden="true" ng-style="{'color':(alphaNum?'green':'red')}"></i>
                                                            Must be alphanumeric.
                                                        </span>
                          </p>
                          <div class="row" ng-show="strengthBar">
                            <div class="col-md-6">
                              <div class="progress" style="height:10px;">
                                <div class="progress-bar progress-bar-striped" ng-class="colorClass" role="progressbar" aria-valuenow="{{passwordLength}}"
                                  aria-valuemin="0" aria-valuemax="100" ng-style="{'width':passwordLength+'%'}">
                                  <span class="sr-only">40% Complete (success)</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <span class="pass-strength" style="font-weight:bold;">
                                                                Strength :
                                                                <span class="{{textColor}}">{{strength}} </span>
                              </span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type="password" name="cpassword" class="form-control" ng-model="user.cpassword" ng-keyup="verifyPassAndConfirmPass(); showMatchError()"
                            mongoose-error required />
                          <p class="help-block text-danger" ng-show="(form.cpassword.$error.required && submitted) || showMissmatchError">
                            Password does not match.
                          </p>
                        </div>
                        <button class="btn btn-lg btn-primary" ng-disabled="form.cpassword.$error.required || showMissmatchError || passError" type="submit">Set Password</button>
                      </form>
                    </div>
                  </div>
                  <span class="help-block text-danger" ng-if="inValidMessage">{{inValidMessage}}</span>
                  <span class="help-block text-success" ng-if="message">{{message}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>
</div>
<div class="clearfix"></div>
<div class="app" style="position: absolute;bottom: 0px;min-height:initial;height:40px">
  <footer ng-include="'app/dashboard/footer/footer.html'"></footer>
  <div class="clearfix"></div>
</div>
<div class="clearfix">
</div>