<div class="app">
    <section>
        <div class="page-head">
            <div class="app-header">
            <a href="#" class=" pull-left"><img src="assets/images/icmlogo.png" width="160" style="padding: 10px;"></a>
        </div>
        <div class="app-container" style="text-align: center;">
            <div align="center row">
                <div class="col-md-12 col-sm-12 top-txt-dashboard">Welcome to <b>iCoinMarket,</b> world's first done for you cryptocurrency platform! Trading has never been so easy.
                </div>
            </div>
        </div>
        <div>
            <div class="row" style="text-align: center;">
                <div class="col-sm-12">
                    <div ng-if="isVerified">
                        <h3 style="text-align: center; padding-top: 25px;"> Congratulations! Your email is successfully verified. </h3>
                        <a href="/login"> <b>Continue to login </b></a>
                    </div>
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col-md-12 col-sm-12">
                    <div ng-if="!isVerified">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="color:red">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
</div>
